.env
.aws
.git
.github
.cache
.tmp
.vscode
.bash_history
.python_history

doppler.yaml

.DS_Store
**/.DS_Store
.serverless
**/.serverless

output
venv
wheels
node_modules

*.log

htmlcov
junit.xml

lambda_scripts/index.zip
openapi/*
core/graph/*schema.json

__pycache__
**/__pycache__
.pytest_cache
dist

seed.yml

# We don't use our node tooling from within docker or in production,
# and AWS inspector flags many of these dependences as secrity vulnerabilities.
# Dependabot will keep the PRs coming, and ignoring these should keep AWS inspector clear
package.json
yarn.lock
node_modules

seed.yaml

Dockerfile
