.popover__width {
  max-width: var(--radix-popover-available-width);
}

.popover__height {
  max-height: var(--radix-popover-available-height);
}

.popover__content__width {
  max-width: var(--radix-popover-content-available-width);
}

.popover__content__height {
  height: var(--radix-popover-content-available-height);
}
